body {
    background: linear-gradient(to right, #1a1a1a, #121212);
    color: rgb(255, 255, 255);
    /* Adjust text color to be readable on the dark background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Choose an appropriate font-family */
}

.dancing-script {
    font-family: 'Dancing Script', cursive;
    /* Additional styling if needed */
    font-size: 6rem;
}

.navbar-light .navbar-toggler-icon {
    background-color: white;
}

.Intro-section-outer{
 background-color:#6E07F3;
 height: 700px;
}
.Intro-section{
    padding: 70px;
    color: white;
    text-align: center;
}